* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #ffe6f0;
    display: flex;
}

.sidebar {
    width: 230px;
    background: #ff69b4;
    height: 100vh;
    padding: 20px;
    color: white;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

.sidebar ul li a:hover{
    background: #ffb6c1;
}

.logout {
    background: #ff4d6d;
}

.main {
    flex: 1;
    padding: 30px;
}

header {
    background: white;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

header h1 {
    color: #ff69b4;
}

.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.card {
    flex: 1;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    color: white;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 32px;
    font-weight: bold;
}

.card.pink {
    background: #ff69b4;
}

.card.soft {
    background: #ff9ecd;
}

.card.danger {
    background: #ff4d6d;
}

.table-box {
    background: white;
    padding: 20px;
    border-radius: 15px;
}

.table-box h2 {
    margin-bottom: 15px;
    color: #ff69b4;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    background: #ffb6c1;
    padding: 10px;
}

table td {
    padding: 10px;
    text-align: center;
}

table tr:nth-child(even) {
    background: #ffe6f0;
}

.btn {
    padding: 6px 12px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.btn.edit {
    background: #ff9ecd;
}

.btn.edit:hover {
    background: #ff69b4;
}

.btn.hapus {
    background: #ff4d6d;
}

.btn.hapus:hover {
    background: #ff1f4b;
}

.form-box {
    background: white;
    padding: 25px;
    border-radius: 15px;
    max-width: 700px;
}

.form-box form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.form-box input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ffb6c1;
    width: 130px;
}

.form-box input:focus {
    outline: none;
    border-color: #ff69b4;
}

.form-box button {
    background: #ff69b4;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
}

.form-box button:hover {
    background: #ff4d6d;
}

.btn-back {
    background: #ffb6c1;
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
    text-decoration: none;
    margin-left: 10px;
}

.btn-back:hover {
    background: #ff69b4;
}